---
layout: base.njk
---
<header>
    <h1>&gt; {{ homepage.title or site.title }}<span class="blink">_</span></h1>

    {% set subtitle = homepage.subtitle%}
    {% if subtitle %}
        <p class="subtitle">{{ subtitle }}</p>
    {% endif %}
</header>
<main>
    <hr>
    {% set entries = homepage.menu %}
    {% include "menu.njk" %}
</main>
